// eslint-disable-next-line
var config =
{
	loginEnabled    : {{ login_enabled }},
        multipartyServer : '{{ ansible_fqdn }}',
        productionPort   : 443,
	developmentPort : 3443,
	turnServers     : [
		{
			urls : [
				'{{ turn_uri}}'
			],
			username   : '{{ turn_user }}',
			credential : '{{ turn_password }}'
		}
	],
	requestTimeout   : 10000,
	transportOptions :
	{
		tcp : true
	},
	lastN       : 4,
	mobileLastN : 1,
	background  : 'images/background.jpg',
	// Add file and uncomment for adding logo to appbar
	logo        : 'images/logo.svg',
	title       : 'Multiparty meeting',
	theme       :
	{
		palette :
		{
			primary :
			{
				main : '#313131'
			}
		},
		overrides :
		{
			MuiAppBar :
			{
				colorPrimary :
				{
					backgroundColor : '#313131'
				}
			},
			MuiFab :
			{
				primary :
				{
					backgroundColor : '#5F9B2D',
					'&:hover'       :
					{
						backgroundColor : '#518029'
					}
				}
			}
		},
		typography :
		{
			useNextVariants : true
		}
	}
}


