turnAPIKey: {{ turn_api_key }}
turnAPIURI: {{ turn_api_uri }}
listeningPort: 443
listeningRedirectPort: 80

cookieSecret: {{ cookie_secret }}
activateOnHostJoin: {{ activateOnHostJoin }}
tls:
  cert : /opt/edumeet/server/certs/cert.pem
  key  : /opt/edumeet/server/certs/privkey.pem
redisOptions:
  host: 127.0.0.1
  port: 6379
  password: "_REDIS_PASSWORD_"
